<!DOCTYPE html>
<html>

<head>
    <title>Python Online Interpreter</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/mode/python/python.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="static/js/execute.js"></script>
    <script src="static/js/share.js"></script>
</head>

<body>
    <div class="buttons-wrapper my-buttons" style="all: unset; position: fixed; top: 10px; right: 10px; z-index: 9999;">
        <a class="button" href="https://github.com/Emeteil"
            style="all: unset; display: inline-block; margin-left: 5px;">
            <img src="static/img/github.png" style="all: unset; width: 30px; height: 30px; ">
        </a>
    </div>
    <h1>Python Online Interpreter</h1>
    <textarea id="code" rows="10" cols="50" class="python-code">{{ code }}</textarea>
    <script>
        var codeTextArea = document.getElementById("code");
        var codeEditor = CodeMirror.fromTextArea(codeTextArea, {
            lineNumbers: true,
            mode: "python",
            theme: "monokai"
        });

        codeEditor.on("keydown", function (editor, event) {
            var openChars = ["(", "{", "[", "\"", "'", "<"];
            var closeChars = [")", "}", "]", "\"", "'", ">"];
            var cursor = codeEditor.getCursor();

            if (event.key && openChars.includes(event.key)) {
                var closeChar = closeChars[openChars.indexOf(event.key)];
                codeEditor.replaceRange(event.key + closeChar, cursor);
                codeEditor.setCursor({ line: cursor.line, ch: cursor.ch + 1 });
                event.preventDefault();
            }

            if (event.ctrlKey && event.key === "/") {
                event.preventDefault();
                var cursor = codeEditor.getCursor();
                var selection = codeEditor.getSelection();

                if (selection) {
                    var lines = selection.split("\n");
                    var allCommented = true;

                    for (var i = 0; i < lines.length; i++) {
                        if (lines[i].trim() === "" || !lines[i].trim().startsWith("#")) {
                            allCommented = false;
                            break;
                        }
                    }

                    if (allCommented) {
                        var uncommentedLines = lines.map(function (line) {
                            return line.replace(/^# \s*/, "");
                        });
                        codeEditor.replaceSelection(uncommentedLines.join("\n"));
                    } else {
                        var commentedLines = lines.map(function (line) {
                            return "# " + line;
                        });
                        codeEditor.replaceSelection(commentedLines.join("\n"));
                    }
                } else {
                    var lineContent = codeEditor.getLine(cursor.line);
                    if (lineContent.trim().startsWith("#")) {
                        codeEditor.replaceRange(lineContent.replace(/^# \s*/, ""), { line: cursor.line, ch: 0 }, { line: cursor.line, ch: lineContent.length });
                    } else {
                        codeEditor.replaceRange("# " + lineContent, { line: cursor.line, ch: 0 }, { line: cursor.line, ch: lineContent.length });
                    }
                }
            }
        });
    </script>
    <br>
    <button id="execute">Execute</button>
    <button id="share">Share</button>
    <h2>Output:</h2>
    <pre id="output">{{ output }}</pre>
    <h2>Error:</h2>
    <pre id="error">{{ error }}</pre>
</body>

</html>